@model IEnumerable<FamousFolks.Models.FolksListViewModel>

@{
    ViewBag.Title = "Index";
}



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

<link href="~/Content/MyStyle.css" rel="stylesheet" />

<div id="jumbo" class="jumbotron">

    <h2 class="text-center">Famous Folks</h2>
    <br />

</div>
<form method="get">

    <input type="search" name="searchTerm" />
    <input type="submit" Value="Search By Name" class="btn btn-primary" />

    <label class="checkbox">
        <input type="checkbox" id="expertise" value="expertise" name="SearchPolitics">Politics
    </label>


</form>

<script src="~/Scripts/jquery-1.10.2.js"></script>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthLocation)
        </th>

        <th id="myBioh" style="display:none">
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthLocation)
            </td>

            <td id="myBio" style="display: none">
                @Html.DisplayFor(modelItem => item.Bio)
            </td>


            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>*@
        </tr>
    }

</table>

<script>
    $(document).ready(function () {

        $("tr").click(function () {

            $("tr:eq(" + this.rowIndex + " ) td:eq(3)").toggle();


        });
    });



</script>
